body {
	font-family: Arial;
	font-size: 14px;
}
div {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	color: #58c;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.leftColumn {
  float: left;
  width: 130px;
  padding: 6px;
  background-color: #fdd;
}
.rightColumn {
  height: 100%;
  margin-left: 142px;
  border: none;
}
.small {
	font-size: 12px;
}
.indented {
	margin-left: 8px;
}
.fixedwidth {
  font-family: Courier;
}
